.wagtail-editorjs-widget-container {
    max-width: 840px;
    border-radius: 0.25rem;
    border: 1px solid hsl(var(--w-color-primary-hue) calc(var(--w-color-primary-saturation) - 20%) calc(var(--w-color-primary-lightness) + 10%));
}
.wagtail-editorjs-display-none {
    display: none;
}
@media (min-width: 651px) {
    /* .ce-block__content { */
        /* max-width:calc(100% - 80px) !important; */
    /* } */
    .ce-toolbar__content {
        /* max-width:calc(100% - 60px) !important; */
        margin-right: -26px;
        max-width: 100%;
    }
    .wagtail-editorjs-widget-container .codex-editor--narrow .codex-editor__redactor {
        margin-right: 0;
    }
    .ce-toolbar__actions {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .ce-toolbar__actions > * {
        margin-left: 0;
        margin-right: 0;
    }
}
.cdx-block {
    max-width: 100% !important;
}
.ce-code__textarea.ce-code__textarea {
    min-height: 150px;
}
.wagtail-link-tool-actions {
    gap: 0.25rem;
}
.wagtail-link-tool-actions:not(.column) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wagtail-link-tool-actions svg {
    vertical-align: middle;
}
.wagtail-link-tool-actions.column {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}
:not(.wagtail-link-tool-actions) > .ce-inline-tool > .bi {
    width: 14px;
    height: 14px;
}
.wagtail-image-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wagtail-image-button__color-picker {
    padding-top: 0;
    padding-bottom: 0;
}
.wagtail-image-tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    transition: filter 0.2s;
}
.wagtail-image-tool img {
    height: auto;
}
.wagtail-image-tool img {
    width: 60%;
}
.wagtail-image-tool.stretched img {
    width: 100%;
}
.wagtail-image-tool.withBorder img {
    border: 1px solid var(--w-color-text-context);
}
.ce-tune-alignment--center .wagtail-image-tool {
    align-items: center;
}
.ce-tune-alignment--right .wagtail-image-tool {
    align-items: flex-end;
}



.wagtail-image-row-wrapper {

}
.wagtail-image-row-wrapper .wagtail-image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.25rem;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.wagtail-image-row-wrapper .wagtail-image-row-image-wrapper {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    flex-direction: column;
    border: 1px solid var(--w-color-text-context);
    overflow: hidden;
    border-radius: 0.25rem;
    min-width: 150px;
    height: 200px;
    cursor: grab;
}
.wagtail-image-row-wrapper .wagtail-image-row-image-wrapper.sortable-ghost {
    cursor: grabbing !important;
}
.wagtail-image-row-wrapper .wagtail-image-row-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.wagtail-page-annotation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--w-color-text-context);
    border-radius: 0.25rem;
}
.wagtail-page-annotation-iframe-wrapper {

}